<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	
	<!-- telling container to take care of annotations stuff -->
	
	
	<context:annotation-config />
	
	<!-- declaring base package -->
	<context:component-scan base-package="com.kasun" />
	
	<!-- Handles HTTP GET requests for /resources/** by efficiently serving up static
		resources in the ${webappRoot}/resources/ directory -->
	<mvc:annotation-driven />

	<mvc:resources mapping="/resources/**" location="/resources/" />
	
	<!-- adding view resolver to show jsp's on browser -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="viewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- declare beans -->
	<bean id="userDao" class="com.kasun.dao.UserDaoImpl" />
	<bean id="userService" class="com.kasun.services.UserServiceImpl" />
	
	<bean id="travelDao" class="com.kasun.dao.TravelDaoImpl" />
	<bean id="travelService" class="com.kasun.services.TravelServiceImpl" />
				
	<!-- declare datasource bean -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/AirMaster" />
		<property name="username" value="" />
		<property name="password" value="" />
	</bean>
</beans>
